body {
    background-color: #D0E4F5;
background-image: url("https://images.pexels.com/photos/2940654/pexels-photo-2940654.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 50% 50%;
margin: 0;
}

.intro {
    width: 100%;
    top: 0;
    position: -webkit-sticky;
    position: sticky;

}
.header{
    color: aliceblue;
    text-align: center;
    background-color: rebeccapurple ;
    height: 100px;
    margin-bottom: 20px;
    overflow: hidden;     /* Con este overflow se soluciona el error en que el header se mueve al incluir el h1 (Errores de padres-hijos) */
    height: max-content;
}

.menu {
    margin-left: 37%;
}

.menu li {
    margin:0;
    display: inline;
    float:left;
    padding:0 10px;
    /* background-color: #816b23; */
    
}

 button {
    font-family: Georgia, serif;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;

} 

.div-1 {
    width: 500px;
    margin-left: 50px;
    margin-right: auto;
    color: blanchedalmond;
    border: 10px outset #816b23;
    border-radius: 10px;
    background-color: olive;
    display:inline-block ;
    padding-left: 1%;
    padding-right: 1%;    
}

.image-1 {
    display: inline-block;
    height: 25%;
    width: 25%;
    margin-left: 15%;
    margin-top: 50px;
    border: 10px ridge #3f2600;
}

.image-2 {
    display: flex;
    height: 25%;
    width: 25%;
    margin-left: 15%;
    margin-top: -500px;
    border: 10px ridge #3f2600;
}

.image-3 {
    display: inline-block;
    height: 33%;
    width: 33%;
    margin-left: 60%;
    margin-bottom: -500px;
    border: 10px ridge #3f2600;
}

.div-2, .div-3 {
    width: 500px;
    margin-left: 50%;
    margin-right: auto;
    margin-top: 50px;
    color: blanchedalmond;
    border: 10px outset #816b23;
    border-radius: 10px;
    background-color: olive;
    display:inline-block ;
    padding-left: 1%;
    padding-right: 1%;
}

.div-4, .div-5 {
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: auto;
    color: blanchedalmond;
    border: 10px outset #816b23;
    border-radius: 10px;
    background-color: olive;
    padding-left: 1%;
    padding-right: 1%;    
}

.div-6 {
    display: inline;
    width: 500px;
    margin-top: 150px;
    margin-left: 33%;
    margin-right: 25%;
    margin-bottom: 50px;
    color: blanchedalmond;
    border: 10px outset #816b23;
    border-radius: 10px;
    background-color: olive;
    display:inline-block ;
    padding-left: 1%;
    padding-right: 1%;
}

h1 {
    font-family: 'Gill Sans MT';
}

p {
    font-family: fantasy;
}