body {
    background-color: #D0E4F5;
background-image: url("https://images.pexels.com/photos/2940654/pexels-photo-2940654.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
background-size: 100vw ;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 50% 50%;
margin: 0;
}

.intro {
    color: aliceblue;
    text-align: center;
    background-color: rebeccapurple ;
    height: max-content;
    width: 100%;
    top: 0;
    position: -webkit-sticky;
    position: sticky;

}
.header{
    /* height: max-content; */
    margin-bottom: 20px;
    overflow: hidden;     /* Con este overflow se soluciona el error en que el header se mueve al incluir el h1 (Errores de padres-hijos) */
    /* height: max-content; */
}

h1 {
    font-family: 'Georgia';
}

h2 {
    font-family: "gill sans MT";
}

p {
    font-family: fantasy;
}

.div-1, .div-2, .div-3, .div-4, .div-5, .div-7 {
    margin-top: 3em;
    padding-right: 1em;    
    padding-left: 1em;
    color: blanchedalmond;
    border: 10px outset #816b23;
    border-radius: 10px;
    background-color: olive;
}

.div-6, .div-8 {
    width: 500px;
    margin: 3rem 25% 3rem 33%;
    color: blanchedalmond;
    border: 10px outset #816b23;
    border-radius: 10px;
    background-color: olive;
    display:inline-block ;
    padding-left: 1%;
    padding-right: 1%;
}

.image-1, .image-2 {
    height: 75%;
    width: 75%;
    margin-left: 15%;
    margin-top: 3em;
    border: 10px ridge #3f2600;
}

.image-3 {
    height: 45%;
    width: 80%;
    margin-left: 10%;
    margin-top:  10em;
    border: 10px ridge #3f2600;
} 

.image-4 {
    height: 60%;
    width: 80%;
    margin-left: 15%;
    margin-top: 3em;
    border: 10px ridge #3f2600;
}
